@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}



div {

    background: #35393d;
    height: 100vh;
    text-align: center;
    padding-top: 90px;
}

input {
    width: 200px;
    border-radius: 4px;
}

.bomb {
    height: 250px;
    padding-top: 25px;

}

p {
    color: #fff;
    font-size: 36px;
    padding-top: 25px;
}

h1 {
    padding-bottom: 20px;
    padding-top: 25px;
    color: #fff;
}